/*-------------HEADER-------------*/
.headerContainer {
    display: flex;
    justify-content: end;
}
.opcionesHeader {
    position: absolute;
    top: 2%;
    display: flex;
    align-content: center;
    justify-content: center;
}
.opcionEscrita {
    position: relative;
    top: 6px;
    right: 15px;
    margin-right: 10px;
}
.opcionVisual {
    margin-right: 20px;
}
.menuHeader {
    position: relative;
    top: 5px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
}
.imagenPerfilHeader {
    width: 30px;
    height: 30px;
    border-radius: 30px;
}
/*-------------MAIN-------------*/
.buscador {
    position: relative;
    top: 6%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.formBuscador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.barraBuscador {
    position: relative;
    top: 30px;
    width: 80vw;
    max-width: 580px;
    height: 46px;
    border-radius: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logoGoogle {
    position: relative;
    top: 9px;
    width: 60%;
    max-width: 270px;
    height: 100px;
}

.logoLupa {
    position: absolute;
    left: 14px;
    width: 20px;
    height: 20px;
}
.logoMicrofono {
    position: absolute;
    right: 14px;
    width: 20px;
    height: 20px;
}
#texto {
    width: 70%;
    height: 40px;
}
.botones {
    position: relative;
    top: 47px;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.separadorBotones {
    width: 10px;
}
.button {
    width: 155px;
    height: 35px;
}
.buttonBuscar {
    // margin-right: 13px;
}
/*-------------FOOTER-------------*/
.sectionFooter {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    max-width: 419px;
}
.footerDerecho, .footerIzquierdo {
    position: relative;
    top: none;
    display: flex;
    list-style: none;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.opcionIzquierdo, .opcionDerecho {
    margin-right: 10px;
}
footer {
    display: flex;
    justify-content: center;
}