/*-------------FOOTER-------------*/
.menuHeader:hover {
    box-shadow: 0px 0px 0px 10px rgb(240, 240, 240);
    background-color: rgb(240, 240, 240);
    cursor: pointer;
}
.imagenPerfilHeader:hover {
    box-shadow: 0px 0px 0px 4px rgb(240, 240, 240);
    cursor: pointer;
}
.opcionEscrita:hover {
    text-decoration: underline;
    cursor: pointer;
}
/*-------------MAIN-------------*/